<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather-icon.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>
                This application was developed with Node.js and Express.js
                It uses Mapbox.com and Weathestach.com APIs to fetch loaction and weather data respectively.
            </p>
            <img class="portrait" src="/img/robot.png"> 
        </div>

        {{>footer}}
    </body>
</html>